<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View all the campgrounds around the continent</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>
    
   
    
   <div class="row text-center" style="display: flex; flex-wrap: wrap;">
       <% campgrounds.forEach(function(camps){ %>
       <div class="col-md-3 col-sm-6">
           <div class="thumbnail">
               <img src="<%= camps["images"] %>">
               <div class="caption">
                    <h4><%= camps["name"] %></h4>  
               </div>
               <P>
                   <a class="btn btn-primary" href="/campgrounds/<%= camps["_id"] %>">More Info</a>
               </P>
           </div>
       </div>
       <% }) %>
   </div>
   
       
   
</div>

<% include ../partials/footer %>