.navbar > .container-fluid {
	background-color: #000;
}
.navbar-default .navbar-nav> li > a {
	color: #fff;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

/*REGISTER*/
.signup {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.signup img{
	width: 150px;
}


input[type=file] {
	margin: 0 auto;
}

label {
	float: left;
}