<% include ./partials/header %>

<div class="container">
	<div class="row">
	
		<div class="col-6">
			<img src="<%= currentUser.avatar %>" alt="">
		</div>
		<div class="col-6">
		<form method="POST" enctype="multipart/form-data" action="/">
			<h2>Tu perfil</h2>
			<div class="form-group">
				<label for="">Username</label>
			    <input type="text" name="username" class="form-control" >
			</div>
			<div class="form-group">
				<label for="">Email</label>
			    <input type="text" name="email" class="form-control" >
			</div>
			<button class="btn btn-primary">Actualizar</button>
		</form>
		</div>
		
	</div>
	
</div>






















<% include ./partials/footer %>